.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

form {
  &.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    max-width: 720px;
    gap: 10px;

    .form {
      &-row {
        &> * {
          margin-bottom: 10px;
        }
      }

      &-label {
        position: absolute;
        top: 16px;
        left: 16px;
        opacity: .5;
        color: var(--white);
        cursor: text;
        font-size: 16px;
        line-height: 24px;
        transition: $transition-base;
        user-select: none;
        pointer-events: none;
        z-index: 1;
      }

      &-input-button {
        position: static;
        top: 0;
        right: 0;
        display: block;
        max-width: 110px;
        width: 100%;
        height: 36px;
        margin: 12px auto 0 auto;
      }

      &-button-pass {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 100%;
        padding: 0;
        background: none;
        border: none;
        outline: none !important;
        box-shadow: none !important;

        svg {
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }
    }
  }

  .form-group {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .form-control {
    height: 42px;
    padding: 16px 10px;
    background: var(--white);
    border: none;
    border-radius: 0;
    color: var(--black);
    outline: none !important;
    box-shadow: none !important;
    transition: $transition-base;

    &:focus {
      color: var(--black);

      /*& ~ .form-label {
        top: -6px;
        left: 16px;
        background: var(--dark-bg);
        padding: 0 4px;
        opacity: 1;
        font-size: 12px;
        line-height: 1;
      }*/
    }

    &:not(:placeholder-shown) {

      /*& ~ .form-label {
        top: -6px;
        left: 16px;
        background: var(--dark-bg);
        padding: 0 4px;
        opacity: 1;
        font-size: 12px;
        line-height: 1;
      }*/
    }

    &.access {
      border: 1px solid;
      &:not(:placeholder-shown) {
        border-color: #3eb94a;
      }
    }

    &.error {
      &:not(:placeholder-shown) {
        border-color: #f84a24;
      }
    }
  }

  .form-text {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-align: center;

    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  textarea {
    min-height: 60px;
    max-height: 250px;
  }
}

.btn {
  &-primary {

  }
}

.select2 {
  &-container {
    &--default {
      .select2 {
        &-selection--single {
          height: 40px;
          padding: 10px;
          background: $dark;
          border-color: var(--white);
          border-radius: 0;

          .select2-selection {
            &__placeholder {
              color: var(--white);
              font-size: 14px;
              line-height: 1;
            }
            &__rendered {
              padding: 0;
              color: var(--white);
              font-size: 14px;
              line-height: 1;
            }
            &__arrow {
              width: 40px;
              height: 100%;

              b {
                width: 12px;
                height: 20px;
                margin: 0;
                background: url('../img/chevrone.svg') no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                border: none;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        &-results__option {
          &--highlighted {
            &.select2-results__option--selectable {
              background: var(--white);
              color: var(--black);
            }
          }
          &--selected {
            color: var(--black);
          }
        }
      }
      &.select2-container--open {
        .select2-selection--single {
          .select2-selection__arrow {
            b {
              transform: translate(-50%, -50%) rotate3d(1, 0, 0, 180deg);
            }
          }
        }
      }
    }

    &.select2-container--below {
      .select2-selection__rendered {
        color: var(--white);
      }
    }
  }
  &-dropdown {
    background: $dark;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: $font-weight-normal;
}