:root {
  --black: #000;
  --white: #fff;
  --yellow: #FFC700;
  --gold: #EDA300;
  --blue: #121127;
  --black-bg: #0c0d12;
  --gray-bg: #18191E;
  --selection-bg: #e5c356;
}

// main colors
$main-first-color: #00FF25;
$main-second-color: #000082;
$main-third-color: #7a0000;

// colors
$title-color: #ccc;
$text-color: var(--white);
$input-placeholder-color: #A19D9B;

// fonts-family
$font-family-base: 'Montserrat', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-default: 500;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$primary: #00FF25;
$dark: #201718;

$enable-shadows: true;
$body-color: $text-color;
$grid-gutter-width: 40px;

$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1025px,
        xl: 1540px,
);

$container-max-widths: ();

$firstIteration: true;
@each $breakpoint, $value in $grid-breakpoints {
  @if not $firstIteration {
    $container-max-widths: map-merge($container-max-widths, ($breakpoint: $value - $grid-gutter-width));
  }
  $firstIteration: false;
}