/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

.section-content {
  display: flex;
  min-height: 100vh;
}

.scene {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  min-height: 100%;
  padding: 20px 0;

  &__content {
    flex: 50% 1 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    &-wrapper {
      flex: 50% 1 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
  &__content-img {
    img {
      width: 100%;
      margin: 0 auto -45px;
    }
  }
  &__text-block {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto 50px;

    &_start {
      margin: 0;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
    }
    &_medium {
      margin: 0;
      color: $primary;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
    }
    &_fin {
      margin: 0;
      font-size: 22px;
      font-weight: 900;
    }
  }
  &__button {
    padding: 17px 60px;
    position: relative;
    background: linear-gradient(to bottom, #80eb8f 0%, #00d81f 100%);
    border: 4px solid var(--black);
    border-radius: 100px;
    box-shadow: 0 0 0 2px rgba(0, 255, 37, 1), 0 0 15px 0 rgba(0, 216, 31, 1), 0 0 50px 0 rgba(0, 216, 31, 0.5);
    outline: none !important;
    overflow: hidden;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: $transition-base;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      content: '';
      position: absolute;
      left: -200%;
      top: 0;
      width: 150px;
      height: 75px;
      transform: rotate(-60deg);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--white) 50%, rgba(255, 255, 255, 0) 100%);
      animation: rideToRight 2s infinite ease-in-out 1.2s;
      transition: $transition-base;
    }

    &:hover {
      border-color: var(--white);
      box-shadow: 0 0 50px 0 #00D81F, 0 0 15px 0 #00D81F;
    }
  }
}