/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .scene {
    &__text-block {
      gap: 30px;

      &_start {
        font-size: 24px;
      }
      &_medium {
        font-size: 56px;
      }
      &_fin {
        font-size: 40px;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  /*.section-content {
    padding: 40% 0 75px;
  }*/

  .scene {
    &__pic {
      top: 20%;
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-content {
    //padding: 26px 0 75px;

    .container {
      padding-right: 60px;
      padding-left: 60px;
      &-fluid {
        padding-right: 60px;
        padding-left: 60px;
      }
    }
  }

  .scene {
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
@include media-breakpoint-up(xl) {
  .scene {
    &__text-block {
      gap:40px;

      &_start {
        font-size: 36px;
      }
      &_medium {
        font-size: 72px;
      }
      &_fin {
        font-size: 48px;
      }
    }
  }
}

// max-width
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {}
@media screen and (max-width: 320px) {}
