<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <div class="section-bg">
        <picture>
            <img src="<%= require('./img/bg.png') %>" class="section-bg__img" alt="" title="">
        </picture>
    </div>
    <!-- HEADER -->
    <header class="header">
        <div class="container-fluid">
            <a href="/" class="logo">
                <picture>
                    <img src="<%= require('./img/logo.svg') %>" alt="" title="">
                </picture>
            </a>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-aviator">
            <div class="container-fluid">
                <div class="aviator">
                    <picture class="aviator__pic">
                        <source media="(min-widt: 992px;)" srcset="<%= require('./img/aviator_lg.png') %>">
                        <img src="<%= require('./img/aviator_sm.png') %>" alt="" title="">
                    </picture>

                    <div class="aviator__content">
                        <div class="aviator__content-text">
                            <p class="aviator__text">Fly with us!</p>
                            <p class="aviator__text-strong"><span>5 FreeBets</span><br>on AVIATOR!</p>
                        </div>

                        <form action="" method="post" class="form">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <select class="select2 js-example-placeholder-single" data-placeholder="Select country" style="width: 100%;">
                                        <option></option>
                                        <option value="01">India</option>
                                        <option value="02">India 2</option>
                                        <option value="03">India 3</option>
                                        <option value="04">India 4</option>
                                        <option value="05">India 5</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="select2 js-example-placeholder-single" data-placeholder="Select city" style="width: 100%;">
                                        <option></option>
                                        <option value="01">City 1</option>
                                        <option value="02">City 2</option>
                                        <option value="03">City 3</option>
                                        <option value="04">City 4</option>
                                        <option value="05">City 5</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <select class="select2 js-example-placeholder-single" data-placeholder="Select currency" style="width: 100%;">
                                        <option></option>
                                        <option value="01">EUR (Euro)</option>
                                        <option value="02">USD (Dollar)</option>
                                        <option value="03">GBP (Pound Sterling)</option>
                                        <option value="04">INR (Indian Rupee)</option>
                                        <option value="05">CNY (Yuan)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="email" class="form-control" placeholder="E-mail">
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="tel" class="form-control" placeholder="Phone number">
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="text" class="form-control" placeholder="Firstname">
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="text" class="form-control" placeholder="Surname">
                                    </label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <button type="button" class="form-button-pass">
                                            <svg>
                                                <use xlink:href="img/spritemap.svg#sprite-pass-visible"></use>
                                            </svg>
                                        </button>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="password" class="form-control" placeholder="Re-enter password">
                                    </label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-6">
                                    <label class="form-group">
                                        <input type="text" class="form-control" placeholder="Promo code">
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary w-100 h-100">Get now</button>
                                </div>
                            </div>

                            <p class="form-text">By clicking this button you confirm that you have read and agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy
                                Policy</a> of the company, consent to the processing of your personal information and confirm that you are of legal age.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->
</div>
<!-- BODY END   -->
</body>
</html>
